@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0.95rem;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

button, input:not([type=checkbox]), select {
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: transparent;
  text-decoration: none;
}

mark {
  background-color: transparent;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #70707070;
  margin: 1rem 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body.light {
  background-color: #dee3ed;
}

body.dark {
  background-color: #101114;
}

.light.level0, .light .level0 {
  background-color: #dee3ed;
}

.light.level1, .light .level1 {
  background-color: #eef1f7;
}

.light.level2, .light .level2 {
  background-color: #f8f9fc;
}

.light.level3, .light .level3 {
  background-color: white;
}

.dark.level0, .dark .level0 {
  background-color: #101114;
}

.dark.level1, .dark .level1 {
  background-color: #17191c;
}

.dark.level2, .dark .level2 {
  background-color: #1e2024;
}

.dark.level3, .dark .level3 {
  background-color: #22252a;
}

.light .border {
  border: 1px solid rgba(54, 69, 99, 0.3);
}
.light .border-top {
  border-top: 1px solid rgba(54, 69, 99, 0.3);
}
.light .border-accent {
  border: 1px solid #00B3DA;
}
.light .border-error {
  border: 1px solid #DC0F0F;
}
.light .vertical-separators > :not(:last-child):not(.no-vertical-separators) {
  border-bottom: 1px solid rgba(54, 69, 99, 0.3);
}
.light .horizontal-separators > :not(:last-child):not(.no-horizontal-separators) {
  border-right: 1px solid rgba(54, 69, 99, 0.3);
}
.light .dark-only {
  display: none;
}

.dark .border {
  border: 1px solid rgba(179, 196, 230, 0.2);
}
.dark .border-top {
  border-top: 1px solid rgba(179, 196, 230, 0.2);
}
.dark .border-accent {
  border: 1px solid #19D6FF;
}
.dark .border-error {
  border: 1px solid #FF5252;
}
.dark .vertical-separators > :not(:last-child):not(.no-vertical-separators) {
  border-bottom: 1px solid rgba(179, 196, 230, 0.2);
}
.dark .horizontal-separators > :not(:last-child):not(.no-horizontal-separators) {
  border-right: 1px solid rgba(179, 196, 230, 0.2);
}
.dark .light-only {
  display: none;
}

.gone {
  display: none;
}

.row {
  flex-direction: row;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
  flex-direction: inherit;
}

.flip-180 {
  transform: rotate(180deg);
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", sans-serif;
}

code {
  font-family: monospace;
  padding: 2px 4px;
  margin: -2px 0px;
}

p, th, td, button, input {
  line-height: 1.5em;
}
p::before, p::after, th::before, th::after, td::before, td::after, button::before, button::after, input::before, input::after {
  content: "";
  margin-top: -0.25em;
  height: 0;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}
h1::before, h1::after, h2::before, h2::after, h3::before, h3::after, h4::before, h4::after, h5::before, h5::after, h6::before, h6::after {
  content: "";
  margin-top: -0.25em;
  height: 0;
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  font-family: inherit;
  font-weight: bold;
}

span.error, p.error {
  font-family: inherit;
  font-weight: inherit;
}

span.strikethrough, p.strikethrough {
  font-family: inherit;
  font-weight: inherit;
  text-decoration: line-through;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.light * {
  color: #000000d0;
}
.light em, .light b {
  color: inherit;
}
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
  color: #000000ff;
}
.light code {
  background-color: rgba(54, 69, 99, 0.1);
}
.light a, .light a i {
  color: #00B3DA;
}
.light .color-accent {
  color: #00B3DA;
}
.light .color-strong {
  color: #000000ff;
}
.light .color-weak {
  color: #00000080;
}
.light .color-normal {
  color: #000000d0;
}
.light .error span, .light .error p, .light .error i, .light span.error, .light p.error, .light i.error {
  color: #DC0F0F;
}

.dark * {
  color: #ffffffd0;
}
.dark em, .dark b {
  color: inherit;
}
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #ffffffff;
}
.dark code {
  background-color: rgba(179, 196, 230, 0.08);
}
.dark a, .dark a i {
  color: #19D6FF;
}
.dark .color-accent {
  color: #19D6FF;
}
.dark .color-strong {
  color: #ffffffff;
}
.dark .color-weak {
  color: #ffffff80;
}
.dark .color-normal {
  color: #ffffffd0;
}
.dark .error span, .dark .error p, .dark .error i, .dark span.error, .dark p.error, .dark i.error {
  color: #FF5252;
}

button, input[type=button], input[type=submit], input[type=reset], a.button {
  height: 40px;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  outline: none;
  font-size: 0.95rem;
}

a.button {
  text-decoration: none;
}

.light button, .light input[type=button], .light input[type=submit], .light input[type=reset], .light a.button {
  background-color: rgba(54, 69, 99, 0.05);
  border: 1px solid rgba(54, 69, 99, 0.25);
}
.light button:hover, .light input[type=button]:hover, .light input[type=submit]:hover, .light input[type=reset]:hover, .light a.button:hover {
  background-color: rgba(54, 69, 99, 0.1);
  border: 1px solid rgba(54, 69, 99, 0.3);
}
.light button:active, .light input[type=button]:active, .light input[type=submit]:active, .light input[type=reset]:active, .light a.button:active {
  background-color: rgba(54, 69, 99, 0.15);
  border: 1px solid rgba(54, 69, 99, 0.35);
}
.light button:disabled, .light button[disabled], .light input[type=button]:disabled, .light input[type=button][disabled], .light input[type=submit]:disabled, .light input[type=submit][disabled], .light input[type=reset]:disabled, .light input[type=reset][disabled], .light a.button:disabled, .light a.button[disabled] {
  background-color: transparent;
  opacity: 0.5;
  border: 1px solid rgba(54, 69, 99, 0.25);
}
.light button.selected, .light input[type=button].selected, .light input[type=submit].selected, .light input[type=reset].selected, .light a.button.selected {
  border: 2px solid #00B3DA;
}

.dark button, .dark input[type=button], .dark input[type=submit], .dark input[type=reset], .dark a.button {
  background-color: rgba(179, 196, 230, 0.05);
  border: 1px solid rgba(179, 196, 230, 0.15);
}
.dark button:hover, .dark input[type=button]:hover, .dark input[type=submit]:hover, .dark input[type=reset]:hover, .dark a.button:hover {
  background-color: rgba(179, 196, 230, 0.08);
  border: 1px solid rgba(179, 196, 230, 0.18);
}
.dark button:active, .dark input[type=button]:active, .dark input[type=submit]:active, .dark input[type=reset]:active, .dark a.button:active {
  background-color: rgba(179, 196, 230, 0.11);
  border: 1px solid rgba(179, 196, 230, 0.21);
}
.dark button:disabled, .dark button[disabled], .dark input[type=button]:disabled, .dark input[type=button][disabled], .dark input[type=submit]:disabled, .dark input[type=submit][disabled], .dark input[type=reset]:disabled, .dark input[type=reset][disabled], .dark a.button:disabled, .dark a.button[disabled] {
  background-color: transparent;
  opacity: 0.5;
  border: 1px solid rgba(179, 196, 230, 0.15);
}
.dark button.selected, .dark input[type=button].selected, .dark input[type=submit].selected, .dark input[type=reset].selected, .dark a.button.selected {
  border: 2px solid #19D6FF;
}

button.icon-button, input.icon-button[type=button], input.icon-button[type=submit], input.icon-button[type=reset] {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  outline: none;
}
button.icon-button i, input.icon-button[type=button] i, input.icon-button[type=submit] i, input.icon-button[type=reset] i {
  font-size: 1.2rem;
}

.light button.icon-button, .light input.icon-button[type=button], .light input.icon-button[type=submit], .light input.icon-button[type=reset] {
  background-color: transparent;
  border: none;
}
.light button.icon-button:hover, .light input.icon-button[type=button]:hover, .light input.icon-button[type=submit]:hover, .light input.icon-button[type=reset]:hover {
  background-color: rgba(54, 69, 99, 0.1);
  border: none;
}
.light button.icon-button:active, .light input.icon-button[type=button]:active, .light input.icon-button[type=submit]:active, .light input.icon-button[type=reset]:active {
  background-color: rgba(54, 69, 99, 0.15);
  border: none;
}
.light button.icon-button:disabled, .light button.icon-button[disabled], .light input.icon-button[type=button]:disabled, .light input.icon-button[type=button][disabled], .light input.icon-button[type=submit]:disabled, .light input.icon-button[type=submit][disabled], .light input.icon-button[type=reset]:disabled, .light input.icon-button[type=reset][disabled] {
  opacity: 0.5;
  background-color: transparent;
  border: none;
}

.dark button.icon-button, .dark input.icon-button[type=button], .dark input.icon-button[type=submit], .dark input.icon-button[type=reset] {
  background-color: transparent;
  border: none;
}
.dark button.icon-button:hover, .dark input.icon-button[type=button]:hover, .dark input.icon-button[type=submit]:hover, .dark input.icon-button[type=reset]:hover {
  background-color: rgba(179, 196, 230, 0.08);
  border: none;
}
.dark button.icon-button:active, .dark input.icon-button[type=button]:active, .dark input.icon-button[type=submit]:active, .dark input.icon-button[type=reset]:active {
  background-color: rgba(179, 196, 230, 0.11);
  border: none;
}
.dark button.icon-button:disabled, .dark button.icon-button[disabled], .dark input.icon-button[type=button]:disabled, .dark input.icon-button[type=button][disabled], .dark input.icon-button[type=submit]:disabled, .dark input.icon-button[type=submit][disabled], .dark input.icon-button[type=reset]:disabled, .dark input.icon-button[type=reset][disabled] {
  opacity: 0.5;
  background-color: transparent;
  border: none;
}

button.subtle, input.subtle[type=button], input.subtle[type=submit], input.subtle[type=reset], a.button-subtle {
  height: 40px;
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  outline: none;
}
button.subtle i, input.subtle[type=button] i, input.subtle[type=submit] i, input.subtle[type=reset] i, a.button-subtle i {
  font-size: 1.2rem;
}

.light button.subtle, .light input.subtle[type=button], .light input.subtle[type=submit], .light input.subtle[type=reset], .light a.button-subtle {
  background-color: transparent;
  border: none;
}
.light button.subtle:hover, .light input.subtle[type=button]:hover, .light input.subtle[type=submit]:hover, .light input.subtle[type=reset]:hover, .light a.button-subtle:hover {
  background-color: rgba(54, 69, 99, 0.1);
  border: none;
}
.light button.subtle:active, .light input.subtle[type=button]:active, .light input.subtle[type=submit]:active, .light input.subtle[type=reset]:active, .light a.button-subtle:active {
  background-color: rgba(54, 69, 99, 0.15);
  border: none;
}
.light button.subtle:disabled, .light button.subtle[disabled], .light input.subtle[type=button]:disabled, .light input.subtle[type=button][disabled], .light input.subtle[type=submit]:disabled, .light input.subtle[type=submit][disabled], .light input.subtle[type=reset]:disabled, .light input.subtle[type=reset][disabled], .light a.button-subtle:disabled, .light a.button-subtle[disabled] {
  opacity: 0.5;
  background-color: transparent;
  border: none;
}

.dark button.subtle, .dark input.subtle[type=button], .dark input.subtle[type=submit], .dark input.subtle[type=reset], .dark a.button-subtle {
  background-color: transparent;
  border: none;
}
.dark button.subtle:hover, .dark input.subtle[type=button]:hover, .dark input.subtle[type=submit]:hover, .dark input.subtle[type=reset]:hover, .dark a.button-subtle:hover {
  background-color: rgba(179, 196, 230, 0.08);
  border: none;
}
.dark button.subtle:active, .dark input.subtle[type=button]:active, .dark input.subtle[type=submit]:active, .dark input.subtle[type=reset]:active, .dark a.button-subtle:active {
  background-color: rgba(179, 196, 230, 0.11);
  border: none;
}
.dark button.subtle:disabled, .dark button.subtle[disabled], .dark input.subtle[type=button]:disabled, .dark input.subtle[type=button][disabled], .dark input.subtle[type=submit]:disabled, .dark input.subtle[type=submit][disabled], .dark input.subtle[type=reset]:disabled, .dark input.subtle[type=reset][disabled], .dark a.button-subtle:disabled, .dark a.button-subtle[disabled] {
  opacity: 0.5;
  background-color: transparent;
  border: none;
}

input[type=text], input[type=password], input[type=search], input[type=url], input[type=date], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=tel], input[type=time], input[type=week], textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  outline: none;
  font-size: 0.95rem;
  padding: 0px 10px;
}

input[type=text], input[type=password], input[type=search], input[type=url], input[type=date], input[type=datetime-local], input[type=email], input[type=month], input[type=number], input[type=tel], input[type=time], input[type=week] {
  height: 40px;
}

input[type=date], input[type=datetime-local] {
  flex-direction: row;
}

textarea {
  padding: 10px 12px;
}

input[type=number] {
  padding-right: 6px;
}

input[type=color] {
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
}

.light input[type=text], .light input[type=password], .light input[type=search], .light input[type=url], .light input[type=date], .light input[type=datetime-local], .light input[type=email], .light input[type=month], .light input[type=number], .light input[type=tel], .light input[type=time], .light input[type=week], .light textarea {
  background-color: transparent;
  border: 1px solid rgba(54, 69, 99, 0.3);
}
.light input[type=text]:hover, .light input[type=password]:hover, .light input[type=search]:hover, .light input[type=url]:hover, .light input[type=date]:hover, .light input[type=datetime-local]:hover, .light input[type=email]:hover, .light input[type=month]:hover, .light input[type=number]:hover, .light input[type=tel]:hover, .light input[type=time]:hover, .light input[type=week]:hover, .light textarea:hover {
  border: 1px solid rgba(54, 69, 99, 0.45);
}
.light input[type=text]:focus, .light input[type=password]:focus, .light input[type=search]:focus, .light input[type=url]:focus, .light input[type=date]:focus, .light input[type=datetime-local]:focus, .light input[type=email]:focus, .light input[type=month]:focus, .light input[type=number]:focus, .light input[type=tel]:focus, .light input[type=time]:focus, .light input[type=week]:focus, .light textarea:focus {
  border: 1px solid #00B3DA;
  box-shadow: 0px 1px 2px rgba(0, 179, 218, 0.3);
}
.light input[type=text]:disabled, .light input[type=text][disabled], .light input[type=password]:disabled, .light input[type=password][disabled], .light input[type=search]:disabled, .light input[type=search][disabled], .light input[type=url]:disabled, .light input[type=url][disabled], .light input[type=date]:disabled, .light input[type=date][disabled], .light input[type=datetime-local]:disabled, .light input[type=datetime-local][disabled], .light input[type=email]:disabled, .light input[type=email][disabled], .light input[type=month]:disabled, .light input[type=month][disabled], .light input[type=number]:disabled, .light input[type=number][disabled], .light input[type=tel]:disabled, .light input[type=tel][disabled], .light input[type=time]:disabled, .light input[type=time][disabled], .light input[type=week]:disabled, .light input[type=week][disabled], .light textarea:disabled, .light textarea[disabled] {
  opacity: 0.5;
  background-color: transparent;
}
.light ::placeholder {
  color: #00000080;
  opacity: 1;
}

.dark input[type=text], .dark input[type=password], .dark input[type=search], .dark input[type=url], .dark input[type=date], .dark input[type=datetime-local], .dark input[type=email], .dark input[type=month], .dark input[type=number], .dark input[type=tel], .dark input[type=time], .dark input[type=week], .dark textarea {
  background-color: transparent;
  border: 1px solid rgba(179, 196, 230, 0.2);
}
.dark input[type=text]:hover, .dark input[type=password]:hover, .dark input[type=search]:hover, .dark input[type=url]:hover, .dark input[type=date]:hover, .dark input[type=datetime-local]:hover, .dark input[type=email]:hover, .dark input[type=month]:hover, .dark input[type=number]:hover, .dark input[type=tel]:hover, .dark input[type=time]:hover, .dark input[type=week]:hover, .dark textarea:hover {
  border: 1px solid rgba(179, 196, 230, 0.3);
}
.dark input[type=text]:focus, .dark input[type=password]:focus, .dark input[type=search]:focus, .dark input[type=url]:focus, .dark input[type=date]:focus, .dark input[type=datetime-local]:focus, .dark input[type=email]:focus, .dark input[type=month]:focus, .dark input[type=number]:focus, .dark input[type=tel]:focus, .dark input[type=time]:focus, .dark input[type=week]:focus, .dark textarea:focus {
  border: 1px solid #19D6FF;
  box-shadow: 0px 1px 2px rgba(25, 214, 255, 0.5);
}
.dark input[type=text]:disabled, .dark input[type=text][disabled], .dark input[type=password]:disabled, .dark input[type=password][disabled], .dark input[type=search]:disabled, .dark input[type=search][disabled], .dark input[type=url]:disabled, .dark input[type=url][disabled], .dark input[type=date]:disabled, .dark input[type=date][disabled], .dark input[type=datetime-local]:disabled, .dark input[type=datetime-local][disabled], .dark input[type=email]:disabled, .dark input[type=email][disabled], .dark input[type=month]:disabled, .dark input[type=month][disabled], .dark input[type=number]:disabled, .dark input[type=number][disabled], .dark input[type=tel]:disabled, .dark input[type=tel][disabled], .dark input[type=time]:disabled, .dark input[type=time][disabled], .dark input[type=week]:disabled, .dark input[type=week][disabled], .dark textarea:disabled, .dark textarea[disabled] {
  opacity: 0.5;
  background-color: transparent;
}
.dark ::placeholder {
  color: #ffffff80;
  opacity: 1;
}

.dialog-overlay {
  position: fixed;
  z-index: 99999;
  pointer-events: all;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.dialog-overlay #dialog {
  min-width: 300px;
  min-height: 64px;
  padding: 24px;
  overflow: auto;
  position: relative;
  margin: 16px;
}
.dialog-overlay #dialog button#dialog-close-button {
  border-radius: 12px;
  position: absolute;
  left: calc(100% - 52px);
  top: 12px;
}

.dark .dialog-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}
.dark .dialog-overlay #dialog {
  filter: drop-shadow(0px 4px 16px #00000080);
}

.light .dialog-overlay {
  background-color: rgba(0, 0, 0, 0.25);
}
.light .dialog-overlay #dialog {
  filter: drop-shadow(0px 4px 8px #00000020);
}

body.dialog-open {
  overflow: hidden;
}

select {
  height: 40px;
  padding: 0px 12px;
  padding-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  outline: none;
  font-size: 0.95rem;
  text-overflow: ellipsis;
}
select option.default {
  display: none;
}

.light option, .dark option {
  color: #000000d0;
}

.light select {
  background-color: rgba(54, 69, 99, 0.05);
  border: 1px solid rgba(54, 69, 99, 0.25);
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23000000d0' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 0.2rem);
  background-position-y: 50%;
}
.light select:hover {
  background-color: rgba(54, 69, 99, 0.1);
  border: 1px solid rgba(54, 69, 99, 0.3);
}
.light select:active {
  background-color: rgba(54, 69, 99, 0.15);
  border: 1px solid rgba(54, 69, 99, 0.35);
}
.light select:focus {
  background-color: rgba(54, 69, 99, 0.05);
  border: 1px solid #00B3DA;
}
.light select:disabled {
  background-color: transparent;
  opacity: 0.5;
  border: 1px solid rgba(54, 69, 99, 0.25);
}

.dark select {
  background-color: rgba(179, 196, 230, 0.05);
  border: 1px solid rgba(179, 196, 230, 0.15);
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffffd0' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 0.2rem);
  background-position-y: 50%;
}
.dark select:hover {
  background-color: rgba(179, 196, 230, 0.08);
  border: 1px solid rgba(179, 196, 230, 0.18);
}
.dark select:active {
  background-color: rgba(179, 196, 230, 0.11);
  border: 1px solid rgba(179, 196, 230, 0.21);
}
.dark select:focus {
  background-color: rgba(179, 196, 230, 0.05);
  border: 1px solid #19D6FF;
}
.dark select:disabled {
  background-color: transparent;
  opacity: 0.5;
  border: 1px solid rgba(179, 196, 230, 0.15);
}

label.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
label.radio p {
  margin-left: 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.radio input[type=radio] {
  border-radius: 12px;
  width: 24px;
  height: 24px;
}
label.radio input[type=radio] + .radio-check {
  position: absolute;
  pointer-events: none;
  left: 7px;
  top: 7px;
  opacity: 0;
  width: 10px;
  height: 10px;
  border-radius: 6px;
}
label.radio input[type=radio]:checked + .radio-check {
  opacity: 1;
}

.dark label.radio input[type=radio] {
  background: rgba(179, 196, 230, 0.05);
  border: 1px solid rgba(179, 196, 230, 0.15);
}
.dark label.radio input[type=radio]:hover {
  background: rgba(179, 196, 230, 0.08);
  border: 1px solid rgba(179, 196, 230, 0.18);
}
.dark label.radio input[type=radio]:active {
  background: rgba(179, 196, 230, 0.11);
  border: 1px solid rgba(179, 196, 230, 0.21);
}
.dark label.radio input[type=radio]:focus {
  border: 1px solid rgba(179, 196, 230, 0.21);
}
.dark label.radio input[type=radio]:disabled {
  background-color: transparent;
  opacity: 0.5;
  border: 1px solid rgba(179, 196, 230, 0.15);
}
.dark label.radio input[type=radio]:checked {
  border: 2px solid #19D6FF;
}
.dark label.radio input[type=radio] + .radio-check {
  background-color: #19D6FF;
}

.light label.radio input[type=radio] {
  background: rgba(54, 69, 99, 0.05);
  border: 1px solid rgba(54, 69, 99, 0.25);
}
.light label.radio input[type=radio]:checked {
  background: rgba(54, 69, 99, 0.1);
}
.light label.radio input[type=radio]:hover {
  background: rgba(54, 69, 99, 0.1);
  border: 1px solid rgba(54, 69, 99, 0.3);
}
.light label.radio input[type=radio]:active {
  background: rgba(54, 69, 99, 0.15);
  border: 1px solid rgba(54, 69, 99, 0.35);
}
.light label.radio input[type=radio]:focus {
  border: 1px solid rgba(54, 69, 99, 0.35);
}
.light label.radio input[type=radio]:disabled {
  background-color: transparent;
  opacity: 0.5;
  border: 1px solid rgba(54, 69, 99, 0.25);
}
.light label.radio input[type=radio]:checked {
  border: 2px solid #00B3DA;
}
.light label.radio input[type=radio] + .radio-check {
  background-color: #00B3DA;
}

label.picker-subtle {
  display: flex;
  align-items: center;
  justify-content: center;
}
label.picker-subtle p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.picker-subtle input[type=radio] {
  height: 0;
  width: 0;
}
label.picker-subtle input[type=radio]:checked + p {
  font-weight: bold;
}

.dark label.picker-subtle input[type=radio] + p {
  color: #ffffff80;
}
.dark label.picker-subtle input[type=radio]:hover + p {
  color: #ffffffd0;
}
.dark label.picker-subtle input[type=radio]:active + p {
  color: #ffffffff;
}
.dark label.picker-subtle input[type=radio]:disabled + p {
  opacity: 0.5;
}
.dark label.picker-subtle input[type=radio]:checked + p {
  color: #19D6FF;
}

.light label.picker-subtle input[type=radio] + p {
  color: #00000080;
}
.light label.picker-subtle input[type=radio]:hover + p {
  color: #000000d0;
}
.light label.picker-subtle input[type=radio]:active + p {
  color: #000000ff;
}
.light label.picker-subtle input[type=radio]:disabled + p {
  opacity: 0.5;
}
.light label.picker-subtle input[type=radio]:checked + p {
  color: #00B3DA;
}

body, div, header, article, section, footer, aside, main, nav {
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
}

.page-centerer {
  flex-direction: column;
  align-items: center;
}
.page-centerer .page-centered {
  width: min(100%, 1064px);
}

nav {
  z-index: 2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

main {
  z-index: 1;
  flex-grow: 1;
}

#nav-main {
  flex-direction: row;
  align-items: center;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
}
#nav-main a#nav-title h1 {
  font-size: 1.2rem;
}
#nav-main .nav-link {
  margin-left: 16px;
}
#nav-main .nav-link .iconify {
  font-size: 1.5rem;
}

#nav-main-large, #nav-main-small {
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

#footer-main {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}
#footer-main h1 {
  margin-top: 24px;
}
#footer-main p.disclaimer {
  font-size: 0.75rem;
  margin-top: 8px;
}

.light a.nav-link, .light a#nav-title {
  color: #000000d0;
}

nav.light, .light nav, main.light, .light main {
  box-shadow: 0px 4px 4px 0px rgba(54, 69, 99, 0.1);
}

.dark a.nav-link, .dark a#nav-title {
  color: #ffffffd0;
}

nav.dark, .dark nav, main.dark, .dark main {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 600px) {
  #nav-main-small {
    display: none;
  }
}
@media only screen and (max-width: 599.99px) {
  #nav-main-large {
    display: none;
  }
}
#content {
  padding: 24px 16px;
}
#content h1 {
  font-size: 1.5rem;
}
#content p {
  margin-top: 16px;
}
#content a {
  font-weight: bold;
  margin-top: 16px;
}

/*# sourceMappingURL=404.css.map */
