@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');

$font-display: 'Merriweather', sans-serif;
$font-main: 'Source Sans Pro', sans-serif;
$color-l-accent: #00B3DA;
$color-d-accent: #19D6FF;

