@use "page";
@use "css-template/css-template";

.project {
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 56px;
    
    .project-hero {
        flex-direction: row;
        margin-top: 48px;
        margin-right: -16px;
        div {
            flex-shrink: 1;
            flex-grow: 1;
            max-width: 300px;
            margin-right: 16px;
        }
        img {
            width: 100%;
        }
    }
    h1 {
        margin-top: 48px;
        font-size: 2rem;
    }
    p.subtitle {
        margin-top: 8px;
        font-size: 1.2rem;
    }
    ul {
        margin-top: 16px;
        margin-left: 16px;
    }
    li {  
        font-size: 1.2rem;
        margin-top: 8px;     
    }
    .project-action {
        margin-top: 32px;
        .play-badge img {
            margin: -14px;
            width: 200px;
        }
        .button {
            font-weight: bold;
            font-size: 1.2rem;
            padding: 16px 24px;
        }
    }
    p.disclaimer {
        font-size: 0.75rem;
        margin-top: 24px;
        margin-bottom: -16px;
    }
}
.light.project, .light .project {
    .project-hero img {
        box-shadow: 0px 8px 24px rgba(css-template.$color-shade-on-l, 30%);
    }
}
.dark.custom-bg.project, .dark.custom-bg .project {
    .project-hero img {
        box-shadow: 0px 8px 24px rgba(black, 0.3);
    }
}
.dark:not(.custom-bg).project, .dark:not(.custom-bg) .project {
    .project-hero img {
        box-shadow: 0px 8px 24px black;
    }
}